<div class="contenedor">
<h3 class="my-3 text-center">Creadores</h3>


<div class="subcontenedor d-flex justify-content-center">
  <div class="card" style="width: 90%;">
    <img class="card-img-top" src="https://i.ytimg.com/vi/RpFrEssizzI/maxresdefault.jpg"alt="Card image cap">
    <div class="card-body">
    <h5 class="card-litle text-center">Sara Aponte</h5>
    <p class="card-text" style="text-align: justify;">Estudiante del CSMA desde hace 17 años, personera proxima a graduarse en el 2023, excelente estudiante, quiere estudiar ingenieria estadistica en la escuela de ingenieros </p>
    
    </div>
   </div>
 </div>

 
<div class="subcontenedor d-flex justify-content-center">
    <div class="card" style="width: 90%;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMEdk-d__OMzPgj15KqdyjOQacjonYA0qvVwkYmqOGQvVQw28LBj6VxVtMgkytHmwTObs&usqp=CAU">
      <div class="card-body">
      <h5 class="card-litle text-center"> Nicole Perez</h5>
      <p class="card-text" style="text-align: justify;">Estudiante del CSMA desde hace 4 años, proxima a graduarse en el 2023, excelente estudiante, quiere estudiar diseño industrial en la universidad nacional </p>
      
      </div>
     </div>
   </div>

</div>
