<div class="contenedor">

    <div class="subcontenedor mx-3">
        <h3 class="text-center mt-3">Bienvenidos a CSMA</h3>
        <img class="text-center mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcU5E6K7HqF6hvSUjPrRaJlFLZBf0J0h3dEw&usqp=CAU" width="100%">
        <p style="text-align: justify;"> Este Periodico digital, realizado por undecimo de la promocion 2023, es creado con el fin de informar de forma inmediata a toda la comunidad materista atraves de medios digitales como el celular y navegadores web, el aplicativo esta enfocado principalmente dispositivos moviles de tamaño pequeño </p>
        <b>Conformado por: </b>
        <code>Neyder Neme (<b>docente</b>), Sara Torres, Nicole Perez</code>

    </div>
    
</div>

